<ion-content >
 
 
  <div style="margin-left: -20px; width: calc(100% + 40px);">
    <img src="assets/imgs/kluss.png" class="logo" style="display: block;size: 50px; width: 200%; margin-left: auto; margin-right: auto; margin-top: -50px;" />
</div>

  
</ion-content>